@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Bebas+Neue&family=Kaushan+Script&family=Lato&family=Merriweather:wght@300&family=Nabla&family=Poppins:wght@200&family=Qwitcher+Grypen:wght@700&family=Raleway:wght@500&family=Roboto+Condensed:wght@700&family=Roboto:ital,wght@0,400;1,400;1,500&family=Tilt+Prism&display=swap');
.product-image {
  width: 250px;
  height: 200px;

  border-radius: 5px;
}

.product-card-li-element {
  list-style-type: none;
  background-color: beige;
  box-shadow: 0px 0px 5px #272727;
  padding: 10px;
  border-radius: 5px;
  margin: 30px 10px 30px 10px;
  cursor: pointer;
}
.product-card-li-element:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.title {
  font-family: 'lato';
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
}

.brand {
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 'bold';
  margin-top: 3px;
  margin-bottom: 0px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 15px;
  font-family: 'lato';
  font-weight: 600;
}
.rating-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0967d2;
  width: 80px;
  height: 40px;
  border-radius: 5px;

  padding: 1px 5px;
}
.rating {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: 'lato';
}

.star-1 {
  width: 22px;
  height: 22px;

  margin: 0px 0px 3px 5px;
}

.for-link {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .product-image {
    width: 200px;
    height: 150px;
  }
  .product-card-li-element {
    width: 220px;
  }
  .title {
    font-size: 14px;
  }
  .brand {
    font-size: 10px;
  }
  .price {
    font-size: 13px;
  }
  .rating-container-1 {
    padding: 0px;
    width: 50px;
  }
  .star-1 {
    width: 14px;
    height: 14px;
    padding: 0px;
  }
  .rating {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
  }
}
