@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Bebas+Neue&family=Lato&family=Merriweather:wght@300&family=Nabla&family=Poppins:wght@200&family=Roboto:ital,wght@0,400;1,400;1,500&family=Tilt+Prism&display=swap');
* {
  font-family: 'Poppins';
  font-weight: 700;
}
.Login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.Login-image {
  width: 430px;
  height: 345px;
}

.Login-logo {
  width: 90px;
  height: 50px;
  margin-bottom: 30px;
}

.Login-container > div {
  height: 350px;
}

.form-element {
  width: 350px;
  height: 350px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: azure;
  box-shadow: 0px 0px 5px 0px #272727;
}

.formItem {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.first {
  margin-bottom: 20px;
}

label {
  color: black;
  font-size: 14px;
}
.for-input {
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: 1px solid grey;
}
.for-input::placeholder {
  font-size: 12px;
}

.form-button {
  background-color: #25487d;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px 5px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 30px;
  width: 70px;
}

.form-button:hover {
  background-color: chocolate;
}

.form-element > p {
  margin: 0px 5px;
  padding: 0px;
  color: red;
  font-size: 12px;
  align-self: flex-start;
}

.sec {
  margin-bottom: 0px;
}
@media screen and (max-width: 992px) {
  .Login-container {
    justify-content: center;
    overflow: auto;
  }
  .Login-image {
    display: none;
  }
}
