.product-details {
  height: 100vh;
  background-color: red;
}
.products-details-loader-container {
  display: flex;
  height: calc(100vh - 60px);
  align-items: center;
  justify-content: center;
}

.product-details-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}
.error-view-image {
  width: 400px;
}
.button-not-found-element {
  background-color: #0967d2;
  width: 150px;
  font-size: 12px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 24px;
  cursor: pointer;
}

.button-not-found-element:hover {
  background-color: chocolate;
}

.product-not-found-heading {
  font-family: lato;
  color: #1e293b;
}

.for-success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.inner-success-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;

  margin-top: 30px;
}
.image-product {
  width: 50%;
  height: 550px;
  border-radius: 5px;
}

.text-container {
  width: 50%;
  margin-left: 40px;
}

.header-ele {
  font-family: lato;
  color: #1e293b;
  font-size: 42px;
}
.header-eleh3 {
  font-family: lato;
  color: #1e293b;
  font-size: 24px;
  font-weight: bold;
}

.rating-and-review-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0967d2;
  width: 80px;
  height: 40px;
  border-radius: 5px;

  padding: 1px 5px;
}
.rating > p {
  font-family: 'Roboto';
}
.reviews {
  font-size: 13px;

  font-family: 'Poppins';
}
.star {
  width: 22px;
  height: 22px;

  margin: 0px 0px 3px 5px;
}
.description {
  font-size: 17px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #787c82;
  line-height: 24px;
}
.available {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: normal;
  color: #18191a;
}
.available > span {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
}
.buttonIcon {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  border: none;
}
.icon-dash {
  object-fit: cover;
  margin: 0px;
  font-size: 20px;
  cursor: pointer;
  color: #272727;
}

.button-container {
  display: flex;
  width: 120px;
  justify-content: space-between;
  align-items: center;

  margin: 0px;
}

.button-element-pro {
  background-color: #0967d2;
  width: 120px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  font-family: 'Poppins';
}
.button-element-pro:hover {
  background-color: chocolate;
}

.for-count {
  font-weight: bold;
  font-family: 'Roboto';
  color: #272727;
  margin-bottom: 20px;
}

.for-similar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 90vw;
  margin-top: 30px;
}

.similar-products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0px;
}
.similar-products-heading {
  font-family: 'Raleway';

  color: #1e293b;
}

@media screen and (max-width: 768px) {
  .inner-success-container {
    width: 100%;
  }
  .image-product {
    width: 90%;
    height: 450px;
    margin-bottom: 20px;
  }
  .header-ele {
    font-size: 20px;
  }
  .header-eleh3 {
    font-size: 15px;
  }
  .inner-success-container {
    flex-direction: column;
  }
  .text-container {
    width: 90%;
    margin: 0px;
  }
  .rating {
    padding: 0px;
    width: 50px;
  }
  .star {
    width: 14px;
    height: 14px;
    padding: 0px;
  }
  .rating > p {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
  }
  .description {
    font-size: 15px;
  }
  .similar-products-heading {
    font-size: 34px;
  }
  .for-similar-container {
    margin: 0px;
    padding: 0px;
  }
  .error-view-image {
    width: 85%;
  }
  .product-not-found-heading {
    font-size: 18px;
    text-align: center;
  }
}
